@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Calistoga&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-montserrat-alt: "Montserrat Alternates", sans-serif;
    --font-montserrat-underline: "Montserrat Underline", sans-serif;
    --font-winky-rough: "Winky Rough", sans-serif;
    --font-zain: "Zain", sans-serif;
    --font-calistoga: "Calistoga", serif;
    --font-cabin: "Cabin", sans-serif;
}

* {
    /*outline: 1px solid red;*/
}